// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #027E61
$secondary = #ffdf1b
$accent    = #9C27B0

$positive  = #4BBEAB
$negative  = #B05552
$info      = #35586A
$warning   = #D6B476

$light     = #bdbdbd
$dark      = #424242
$faded     = #777

$input-text-color = $primary;
$input-label-color = #4acfa5;
$generic-border-radius = 1px;

.text-light {
    color: $light;
}

@import '~quasar-variables-styl'
